@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-raleway: Raleway;
  --font-permanent-marker: "Permanent Marker";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-limegreen: #38b000;
  --color-greenyellow: #9ef01a;
}
