.android-large-1-android-large-1x {
    justify-content:center;
display:flex;
background-color:rgba(0,0,0,1);
position:relative;
padding-top:671px;
box-sizing:border-box;
height:2335px;
width:360px;
  }

.android-large-1-box_48114810box_483485x {
    text-align:left;
margin-right:auto;
margin-left:auto;
right:0;
flex-direction:column;
display:flex;
top:44px;
left:0;
position:absolute;
box-sizing:border-box;
height:549px;
width:315px;
  }

.android-large-1-zerttesh {
    font-weight:400;
font-family:Permanent Marker;
width:99px;
height:35px;
line-height:1;
  }

.android-large-1-zertte-text-0x {
    display:inline;
color:rgba(255,255,255,1);
font-size:24px;
  }

.android-large-1-sh-text-1x {
    display:inline;
color:rgba(82,255,0,1);
font-size:24px;
  }

.android-large-1-visitexplore {
    width:88px;
height:16px;
margin-top:-5px;
color:rgba(255,255,255,1);
font-weight:400;
font-size:11px;
font-family:Permanent Marker;
  }

.android-large-1-box_483485x {
    width:100%;
margin-top:8px;
flex-grow:1;
align-items:flex-end;
justify-content:space-between;
flex-direction:column;
display:flex;
gap:26px;
box-sizing:border-box;
  }

.android-large-1-beyour-own-guide-v {
    color:rgba(56,176,0,1);
font-weight:400;
font-size:36px;
font-family:Permanent Marker;
width:311px;
height:409px;
  }

.android-large-1-box_488487x {
    box-sizing:border-box;
background-color:rgba(132,209,253,1);
display:flex;
width:100%;
border-radius:78px;
font-family:Raleway;
color:rgba(29,161,243,1);
font-weight:500;
gap:0;
align-items:center;
justify-content:space-between;
padding-bottom:17px;
padding-left:45px;
padding-right:45px;
padding-top:17px;
  }

.android-large-1-twitter-11x {
    background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/337542d6cae5b0b16c78cafcf94b8132a5de4887.webp);
box-sizing:border-box;
height:26px;
width:31px;
  }

.android-large-1-introducing-zerttesh {
    flex-grow:1;
font-size:20px;
width:194px;
height:19px;
  }

.android-large-1-box_48124813box_box_481548184819481648214822482348244825box_4827482848304832x {
    width:100%;
height:100%;
align-items:center;
flex-direction:column;
display:flex;
box-sizing:border-box;
  }

.android-large-1-experience-anew-way {
    color:rgba(56,176,0,1);
text-align:center;
font-weight:400;
font-size:32px;
font-family:Permanent Marker;
width:314px;
height:86px;
  }

.android-large-1-our-ai-powered-web-a {
    height:115px;
margin-top:26px;
color:rgba(255,255,255,1);
text-align:center;
font-weight:400;
font-size:20px;
font-family:Raleway;
width:322px;
  }

.android-large-1-box_box_4815481848194816482148224823x {
    text-align:left;
gap:19px;
margin-top:70px;
flex-grow:1;
align-items:flex-end;
justify-content:space-between;
flex-direction:column;
display:flex;
box-sizing:border-box;
width:252px;
  }

.android-large-1-box_481548184819481648214822x {
    font-weight:400;
width:100%;
flex-direction:column;
display:flex;
gap:6px;
box-sizing:border-box;
  }

.android-large-1-mausoleum-1x {
    height:210px;
background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/26be64415607244c24ad07f5e25b552849032e29.webp);
box-sizing:border-box;
flex-grow:1;
width:252px;
  }

.android-large-1-yassawi-mausoleum {
    width:189px;
height:29px;
margin-top:3px;
color:rgba(255,255,255,1);
font-size:20px;
font-family:Permanent Marker;
  }

.android-large-1-the-construction-of {
    height:104px;
color:rgba(158,240,26,1);
font-size:11px;
font-family:Raleway;
width:252px;
  }

.android-large-1-aishabibi-1x {
    height:210px;
margin-top:31px;
background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/c03b1149232226924d9e0fb80a8a59b5fac38b69.webp);
box-sizing:border-box;
flex-grow:1;
width:252px;
  }

.android-large-1-aisha-bibi-mausoleum {
    width:211px;
height:29px;
margin-top:3px;
color:rgba(255,255,255,1);
font-size:20px;
font-family:Permanent Marker;
  }

.android-large-1-ahistorical-mausole {
    height:104px;
margin-top:4px;
color:rgba(158,240,26,1);
font-size:11px;
font-family:Raleway;
width:252px;
  }

.android-large-1-generated-by-zertte {
    width:124px;
height:16px;
line-height:1;
  }

.android-large-1-component-text-0x {
    display:inline;
color:rgba(255,255,255,1);
font-weight:500;
font-size:11px;
font-family:Raleway;
  }

.android-large-1-generated-by-text-1x {
    display:inline;
color:rgba(255,255,255,1);
font-weight:300;
font-size:11px;
font-family:Raleway;
  }

.android-large-1-component-text-2x {
    display:inline;
white-space:pre;
color:rgba(255,255,255,1);
font-weight:500;
font-size:11px;
font-family:Raleway;
  }

.android-large-1-zertte-text-3x {
    display:inline;
color:rgba(255,255,255,1);
font-weight:400;
font-size:11px;
font-family:Permanent Marker;
  }

.android-large-1-sh-text-4x {
    display:inline;
color:rgba(56,176,0,1);
font-weight:400;
font-size:11px;
font-family:Permanent Marker;
  }

.android-large-1-component-text-5x {
    display:inline;
color:rgba(255,255,255,1);
font-weight:500;
font-size:11px;
font-family:Raleway;
  }

.android-large-1-back-2x {
    margin-top:29px;
background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/342ff40158713c390d29acb589ee83be01a0d1f9.webp);
box-sizing:border-box;
height:241px;
width:360px;
  }

.android-large-1-the-world-is-abook {
    margin-top:-182px;
color:rgba(255,255,255,1);
text-align:center;
font-weight:400;
font-size:24px;
font-family:Permanent Marker;
width:328px;
height:227px;
  }

.android-large-1-box_482748284830x {
    text-align:center;
align-items:center;
flex-direction:column;
display:flex;
gap:19px;
box-sizing:border-box;
height:159px;
width:291px;
  }

.android-large-1-visit-see-explore {
    flex-grow:1;
color:rgba(158,240,26,1);
font-weight:400;
font-size:32px;
font-family:Permanent Marker;
width:291px;
height:43px;
  }

.android-large-1-explore-the-beauty-o {
    width:202px;
height:42px;
line-height:1;
flex-grow:1;
  }

.android-large-1-explore-the-beauty-otext-0x {
    display:inline;
color:rgba(255,255,255,1);
font-weight:500;
font-size:15px;
font-family:Raleway;
  }

.android-large-1-zertte-text-1x {
    display:inline;
color:rgba(255,255,255,1);
font-weight:400;
font-size:15px;
font-family:Permanent Marker;
  }

.android-large-1-sh-text-2x {
    display:inline;
color:rgba(158,240,26,1);
font-weight:400;
font-size:15px;
font-family:Permanent Marker;
  }

.android-large-1-rectangle-3x {
    font-weight:400;
color:rgba(255,255,255,1);
font-family:Raleway;
align-items:flex-end;
justify-content:flex-end;
display:flex;
background-image:linear-gradient(180deg, rgba(0, 114, 0, 1), black);
padding-right:12px;
padding-left:15px;
padding-bottom:12px;
padding-top:8px;
box-sizing:border-box;
height:36px;
width:135px;
  }

.android-large-1-get-location {
    font-size:15px;
width:108px;
height:16px;
  }

.android-large-1-rectangle-2x {
    font-weight:400;
text-align:left;
color:rgba(255,255,255,1);
font-family:Raleway;
padding-right:16px;
padding-bottom:6px;
padding-left:9px;
padding-top:11px;
width:100%;
margin-top:72px;
background-color:rgba(62,62,62,1);
box-sizing:border-box;
height:29px;
  }

.android-large-1-box_483548374838x {
    width:100%;
height:100%;
align-items:center;
display:flex;
gap:3px;
box-sizing:border-box;
  }

.android-large-1-zerttesh-2023kaza {
    width:137px;
height:11px;
font-size:9px;
  }

.android-large-1-linkedin-1x {
    margin-left:171px;
background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/1ffea485ff3654e8e559fa09d1da866a76576b97.webp);
box-sizing:border-box;
height:11px;
width:12px;
  }

.android-large-1-instagram-1x {
    background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/0eddd4c2154f6b30438f040c6a12fb337265580b.webp);
box-sizing:border-box;
height:9px;
width:9px;
  }