.screenshot-from-2023-07-28-11- {
  position: absolute;
  top: 0;
  left: 0;
  width: 2021px;
  height: 969px;
  object-fit: cover;
}
.be-your-own {
  position: absolute;
  top: 216px;
  left: 54px;
  font-size: 72px;
  color: var(--color-limegreen);
  display: inline-block;
  width: 1196px;
  height: 457px;
}
.visitexplore {
  position: absolute;
  top: 47px;
  left: 0;
}
.sh {
  color: #52ff00;
}
.zerttesh {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
}
.visitexplore-parent {
  position: absolute;
  top: 82px;
  left: 54px;
  width: 164px;
  height: 70px;
  font-size: var(--font-size-base);
}
.introducing-zerttesh {
  position: absolute;
  top: 3px;
  left: 31px;
  font-weight: 500;
  display: inline-block;
  width: 194px;
  height: 19px;
}
.twitter-1-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 26px;
  object-fit: cover;
}
.desktop-1-inner,
.introducing-zerttesh-parent {
  position: absolute;
  top: 17px;
  left: 45px;
  width: 225px;
  height: 26px;
}
.desktop-1-inner {
  top: 700px;
  left: 54px;
  border-radius: 78px;
  background-color: #84d1fd;
  width: 315px;
  height: 60px;
  font-size: var(--font-size-xl);
  color: #1da1f3;
  font-family: var(--font-raleway);
}
.screenshot-from-2023-07-28-11-1 {
  position: absolute;
  top: 959px;
  left: 0;
  width: 2013px;
  height: 445px;
  object-fit: cover;
}
.experience-a-new {
  position: absolute;
  top: 1045px;
  left: 547px;
  font-size: var(--font-size-29xl);
  color: var(--color-limegreen);
  display: inline-block;
  width: 906px;
  height: 70px;
}
.aishabibi-1-icon,
.mausoleum-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 455.24px;
  object-fit: cover;
}
.aishabibi-1-icon {
  left: 600px;
  height: 454.8px;
}
.mausoleum-1-parent {
  position: absolute;
  top: 1514px;
  left: 407px;
  width: 1200px;
  height: 455.24px;
}
.our-ai-powered-web {
  position: absolute;
  top: 1138px;
  left: 634px;
  font-family: var(--font-raleway);
  text-align: center;
  display: inline-block;
  width: 745px;
}
.aisha-bibi-mausoleum {
  position: absolute;
  top: 0;
  left: 0;
}
.a-historical-mausoleum {
  margin: 0;
}
.a-historical-mausoleum-container {
  position: absolute;
  top: 67px;
  left: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-raleway);
  color: var(--color-greenyellow);
  display: inline-block;
  width: 419px;
}
.aisha-bibi-mausoleum-parent {
  position: absolute;
  top: 1997px;
  left: 1007px;
  width: 419px;
  height: 181px;
}
.the-construction-of {
  position: absolute;
  top: 67px;
  left: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-raleway);
  color: var(--color-greenyellow);
  display: inline-block;
  width: 432px;
}
.back-1-icon,
.yassawi-mausoleum-parent {
  position: absolute;
  top: 1997px;
  left: 407px;
  width: 432px;
  height: 181px;
}
.back-1-icon {
  top: 2259px;
  left: 0;
  width: 2020px;
  height: 516px;
  object-fit: cover;
}
.the-world-is {
  position: absolute;
  top: 2465px;
  left: 475px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 1064px;
  height: 144px;
}
.screenshot-from-2023-07-28-13- {
  position: absolute;
  top: 2775px;
  left: 0;
  width: 2005px;
  height: 403px;
  object-fit: cover;
}
.visit-see-explore {
  position: absolute;
  top: 2872px;
  left: 691px;
  font-size: 64px;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 567px;
  height: 76px;
}
.explore-the-beauty {
  font-weight: 500;
}
.zertte {
  font-family: var(--font-permanent-marker);
  color: var(--color-white);
}
.explore-the-beauty-container {
  position: absolute;
  top: 2977px;
  left: 706px;
  font-size: 24px;
  text-align: center;
  color: var(--color-black);
  font-family: var(--font-raleway);
}
.desktop-1-child {
  position: absolute;
  top: 3178px;
  left: 0;
  background-color: #004b23;
  width: 2005px;
  height: 135px;
}
.zerttesh-2023-kazakhstan {
  position: absolute;
  top: 3239px;
  left: 163px;
  font-size: var(--font-size-base);
  font-family: var(--font-raleway);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #007200, #000);
  width: 199px;
  height: 52px;
}
.get-location {
  position: absolute;
  top: 14px;
  left: 33px;
  display: inline-block;
  width: 134px;
}
.rectangle-parent,
.span {
  font-family: var(--font-raleway);
}
.rectangle-parent {
  position: absolute;
  top: 3037px;
  left: 852px;
  width: 199px;
  height: 52px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.span {
  font-weight: 500;
}
.generated-by {
  font-weight: 300;
}
.zertte1 {
  font-family: var(--font-permanent-marker);
  color: var(--color-limegreen);
}
.generated-by-zerttesh-container {
  position: absolute;
  top: 2186px;
  left: 1482px;
  font-size: 11px;
  font-family: var(--font-raleway);
}
.instagram-1-icon,
.linkedin-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.instagram-1-icon {
  top: 8px;
  left: 43px;
  width: 20px;
  height: 20px;
}
.linkedin-1-parent {
  position: absolute;
  top: 3231px;
  left: 1812px;
  width: 63px;
  height: 30px;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 2000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-permanent-marker);
}
.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1 {
  width: 100%;
  height: 3250px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.screenshotfrom202307281102261 {
  top: -10px;
  left: 0px;
  width: 2021px;
  height: 969px;
  position: absolute;
}
.text1 {
  top: 216px;
  left: 54px;
  color: rgba(56, 176, 0, 1);
  width: 1196px;
  height: auto;
  position: absolute;
  font-size: 72px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group2 {
  top: 82px;
  left: 54px;
  width: 164px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text2 {
  top: 47px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text4 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text5 {
  color: rgba(255, 255, 255, 1);
}
.text6 {
  color:#52ff00
}
.frame3 {
  gap: 10px;
  top: 700px;
  left: 54px;
  width: 250px;
  height: 20px;
  display: flex;
  padding: 20px 30px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 78px;
  justify-content: center;
  background-color: rgba(131, 209, 252, 1);
}
.frame3:hover{ 
  background: #52ff00; 
}
.group8 {
  top: 17px;
  left: 45px;
  width: 225px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text07 {
  top: 3px;
  left: 31px;
  color: rgba(29, 161, 243, 1);
  width: 194px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.twitter11 {
  top: 0px;
  left: 0px;
  width: 31px;
  height: 26px;
  position: absolute;
}
.screenshotfrom202307281119001 {
  top: 959px;
  left: 0px;
  width: 2500px;
  height: 445px;
  position: absolute;
}
.text09 {
  top: 1045px;
  left: 547px;
  color: rgba(56, 176, 0, 1);
  width: 906px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group1 {
  top: 1514px;
  left: 407px;
  width: 1200px;
  height: 455.2351989746094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mausoleum1 {
  top: 0px;
  left: 0px;
  width: 600px;
  height: 455px;
  position: absolute;
}
.aishabibi1 {
  top: 0px;
  left: 600px;
  width: 600px;
  height: 455px;
  position: absolute;
}
.text11 {
  top: 1138px;
  left: 634px;
  color: rgba(255, 255, 255, 1);
  width: 745px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group5 {
  top: 1997px;
  left: 1007px;
  width: 419px;
  height: 181px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text15 {
  top: 67px;
  color: rgba(158, 240, 26, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group6 {
  top: 1997px;
  left: 407px;
  width: 432px;
  height: 181px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text22 {
  top: 67px;
  color: rgba(158, 240, 26, 1);
  width: 432px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.back1 {
  top: 2259px;
  left: -10px;
  width: 2020px;
  height: 800px;
  position: absolute;
}
.text24 {
  top: 2465px;
  left: 475px;
  color: rgba(255, 255, 255, 1);
  width: 1064px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.screenshotfrom202307281331071 {
  top: 2775px;
  left: 0px;
  width: 2005px;
  height: 750px;
  position: absolute;
}
.text26 {
  top: 2872px;
  left: 691px;
  color: rgba(0, 0, 0, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text28 {
  top: 2977px;
  left: 706px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text29 {
  font-weight: 500;
}
.text30 {
  color: rgba(0, 0, 0, 1);
}
.rectangle2 {
  top: 3178px;
  left: 0px;
  width: 2005px;
  height: 100px;
  position: absolute;
}
.text32 {
  top: 3239px;
  left: 163px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin-top: -30px;
}
.group7 {
  top: 3037px;
  left: 852px;
  width: 199px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-image: linear-gradient(180deg, rgba(0, 114, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  border-radius: 30px;
}

.group7:hover{
  background-color: black;
}
.text34 {
  top: 14px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text34:hover {
  color: black;
}
.text36 {
  top: 2186px;
  left: 1482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text37 {
  font-weight: 500;
}
.text38 {
  font-weight: 300;
}
.text39 {
  font-weight: 500;
}
.text40 {
  color: rgba(255, 255, 255, 1);
}
.text41 {
  color: rgba(56, 176, 0, 1);
  font-weight: 400;
}
.group9 {
  top: 3231px;
  left: 1812px;
  width: 63px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  margin-top: -30px;
  margin-left: -70px;
}
.linkedin1 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.linkedin1:hover {
  background-color: aliceblue;
}
.instagram1 {
  top: 8px;
  left: 43px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.instagram1:hover {
  background-color: aliceblue;
}



@media (max-width: 767px) {
  .desktop1 {
    width: 100%;
    height: 1000px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 1);
  }
}