/* Feature style */

.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .desktop2 {
    width: 100%;
    height: 1553px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(0, 75, 35, 1);
  }
  .text {
    top: 126px;
    left: 228px;
    color: rgba(158, 240, 26, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Regular;
    text-align: left;
    font-family: Permanent Marker;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group4 {
    top: 456px;
    left: 228px;
    width: 280px;
    height: 58px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: black;
    border-radius: 20px;
  }
  .group4:hover {
    background-color: rgba(158, 240, 26, 1); ;
  }
  .text02 {
    top: 16px;
    left: 62px;
    color: rgba(255, 255, 255, 1);
    width: 167px;
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    margin-top: -5px;
  }
  .rectangle5 {
    top: 724px;
    left: 478px;
    width: 1044px;
    height: 519px;
    position: absolute;
    border-radius: 25px;
    background-color: black;
  }
  .text04 {
    top: 40px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    margin-bottom: 50px;
  }
  .text06 {
    top: 217px;
    left: 227px;
    color: rgb(255, 255, 255);
    height: auto;
    position: absolute;
    font-size: 28px;
    font-style: Regular;
    text-align: left;
    font-family: Permanent Marker;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  